@import url("https://fonts.googleapis.com/css?family=Roboto:300");
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}


.inter-custom {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Example: normal weight */
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}


.container{
  display: flex;
  margin: 3%;
  width: 100%;
height: 95%;

}

.img_container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
}

.main_img{
  width:100%;
  height: 80%;
  margin-left: 5px;
  background: url(./assets/Main_img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.3rem;
}

.list_imgs{
  display: grid;
  margin: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  height: 20%;
  width: 80%;
  border-radius: 0.3rem;
}

.list_imgs>div{
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.2rem;
}
.img_list1{
  background: url(./assets/img_list1.jpeg);
  
}
.img_list2{
  background: url(./assets/img_list2.jpeg);
  
}
.img_list3{
  background: url(./assets/img_list3.jpeg);
  
}
.img_list4{
  background: url(./assets/img_list4.jpeg);
  
}
.product_details{
  padding-inline: 4rem;
  height: 90%;
  width: 70%;
}

.product_titlebox{
  width: 80%;
  height: 11%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.product_title{
  font-family: "Inter";
font-size: 16px;
font-weight: 400;
line-height: 19.36px;
text-align: left;
color: rgba(185, 187, 191, 1);
margin: 0;
}


.product_title1{
  font-family: "Inter";
font-size: 28px;
font-weight: 600;
line-height: 33.89px;
text-align: left;
margin: 0;

}

.line1{
  width: 100%;
height: 0px;

border: 1px 0px 0px 0px;
transform: rotate(-0deg);
border: 1px solid rgba(228, 228, 228, 1);
opacity: 0.4;

}

.product_pricebox{
  width: 80%;
  height: 12.5%;
  display: flex;
  gap: 1rem;
  margin: 0;

}

.price_details{
  display: grid;
  grid-template-rows: 1fr 1fr;
  height:auto;
  gap: 0.2rem;
  
}

.main_price{
  font-family: "Inter";
font-size: 34px;
font-weight: 700;
text-align: left;
margin: 0;
color: rgba(58, 73, 128, 1);
}

.actual_price{
  text-decoration: line-through;
font-size: 21px;
font-weight: 400;
line-height: 25.41px;
text-align: left;
margin: 0;
color:  rgba(0, 0, 0, 0.5);

}

.price_details1{
font-size: 21px;
font-weight: 400;
line-height: 25.41px;
text-align: left;
color:  rgba(255, 0, 0, 0.5);
margin: 10px;


}

.choose_color{
  width: 80%;
  height: 15%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.choose_a_color{
font-size: 16px;
font-weight: 500;
line-height: 19.36px;
text-align: left;
color: rgba(185, 187, 191, 1);
margin: 0;

}

.colors{
  height: 150px;
  margin: 3px;
  display: flex;
  gap:1rem;

}

.color_yellow{
  background-color: #ECDECC;
  height: 100%;
  width: 10%;
}

.color_green{
  background-color:#BBD278;
  height: 100%;
  width: 10%;

}

.color_blue{
  background-color:#BBC1F8;
  height: 100%;
  width: 10%;

}

.color_pink{
  background-color:#FFD3F8;
  height: 100%;
  width: 10%;

}

.sizes{
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;


}

.main_sizes{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}
.main_sizes>p{
  font-size: 16px;
font-weight: 500;
line-height: 19.36px;
text-align: left;
color: rgba(185, 187, 191, 1);
  margin: 0;

}


.size_options {
  display: flex;
  flex-wrap: wrap; /* Allow the options to wrap */
  gap: 1rem; /* Add space between size options */
  background: rgba(237, 240, 248, 1);
  padding: 1rem; /* Add padding for better spacing */
}

.size_options input {
  margin-right: 5px; /* Adjust margin between radio buttons */
}

.size_options label {
  margin-right: 10px; /* Adjust margin between radio buttons and labels */
}


/* .size_options>input{
  display: flex;
  gap: 1rem;
  background: rgba(237, 240, 248, 1);

} */



.main_cart{
  height: 45%;
  margin-inline: 10%;
  display: flex;
  gap: 15%;
  

}

.cart_number{
  height: 70%;
  background: rgba(243, 243, 243, 1);
  width: 50%;
  border-radius: 29.5px;
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  

}
.cart_number>p{
font-size: 22px;
font-weight: 700;
line-height: 26.63px;
text-align: left;
color: rgba(58, 73, 128, 1);



}

.add_cart{
  height: 70%;
  background: rgba(58, 73, 128, 1);

  width: 50%;
  border-radius: 29.5px;
  margin-top: 2%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
font-size: 16px;
font-weight: 600;
line-height: 19.36px;
text-align: left;



}

.cart_success{
  height: auto;
  background: rgba(231, 248, 183, 1);

padding: 2px ;
border-radius: 8px ;
display:none;
margin-top: 10px;

}

.cart_success>p{
font-size: 14px;
font-weight: 600;
line-height: 16.94px;
text-align: center;
color: rgba(0, 0, 0, 1);


}
.description{
font-size: 20px;
font-weight: 300;
line-height: 23px;
text-align: left;
color: rgba(163, 163, 163, 1);


}

.color_option {
  width: 40px;
  height: 40px;
  border-radius: 25%;
  cursor: pointer;
  border: 2px solid transparent; /* Add transparent border by default */


}

.color_option.selected {
  border-color: #000; /* Change border color when selected */
}


.img_list{
  border: 2px solid transparent; /* Add transparent border by default */


}

.img_list.selected {
  border-color: #000; /* Change border color when selected */


}

/* Tablet version */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container{
    display: flex;
    flex-direction: column;
  }
  .img_container{
    width: 100%;
    height: 100%;
  }
 .main_img{
  width:700px;
  height: 300px;
  margin-left: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0.3rem;
  
 }



.main_cart{
  display: flex;
  flex-direction: column;
}
.cart_number,.add_cart{
  width: 80%;
}
  

}

/* mobile version */
@media screen and (max-width:767px) {
  .container{
    display: flex;
    flex-direction: column;
  }
  .img_container{
    width: 100%;
    height: 100%;
  }
 .main_img{
  width:100%;
  height: 300px;
  margin-left: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0.3rem;
  
 }

 .size_options{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
 }

 
.size_options input {
  margin-right:0px; /* Adjust margin between radio buttons */
}

.size_options label {
  margin-right: 0px; /* Adjust margin between radio buttons and labels */
}

.main_cart{
  display: flex;
  flex-direction: column;
}
.cart_number,.add_cart{
  width: 80%;
}
  
}